{{#section 'wrap'}}
<div class="wrapper">
    <div class="error-wrapper">
        <a href='index.html' class="logo logo--dark">
            <img alt='logo' src="images/logo-dark.png">
            <p class="slogan--dark">fun to search, fun to watch</p>
        </a>

        <div class="error">
            <img alt='' src='images/error.png' class="error__image">
            <h1 class="error__text">sorry, but page can’t be found</h1>
            <a href="index.html" class="btn btn-md btn--warning">return to homepage</a>
        </div>
    </div>
</div>
{{/section}}