{{#section 'section'}}
<section>
    <div class="watchlist-box-main">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        <h2>Information</h2>
                        <div class="panel-group category-products" id="accordian">
                            <!--account information-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="/account">
                                            Account Information
                                        </a>
                                    </h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="/changepassword">
                                            Change Password
                                        </a>
                                    </h4>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="/permission">
                                            Permission
                                        </a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <!--/account-information-->
                        <h2>Listing</h2>
                        <div class="panel-group category-products" id="accordian">
                            <!--account information-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="/active">
                                            Active
                                        </a>
                                    </h4>
                                </div>
                                 <div class="panel-heading">
                                    <h4 class="panel-title">
                                        {{#if isLogin}}
                                        <a href="/win">
                                            Win
                                        </a>
                                        {{/if}}
                                        
                                    </h4>
                                </div>

                            </div>
                        </div>
                        <h2>Rating</h2>
                        <div class="panel-group category-products" id="accordian">
                            <!--account information-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="/yourrating">
                                            Your Rating
                                        </a>
                                    </h4>
                                </div>
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="/ratingaboutyou">
                                            Rating About You
                                        </a>
                                    </h4>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-9 padding-right">
                    <div class="bidder_account">
                        <!--end_soon_items-->
                        <h2 class="title text-center">RATING ABOUT YOU</h2>
                        <div class="col-sm-12">
                            <div class="table-main table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Rating</th>
                                            <th>Feedback</th>
                                            <th>Left by </th>
                                            <th>Product </th>
                                            <th>Date/Time</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="rating-pr">
                                                4
                                            </td>
                                            <td class="feedback-pr">
                                                You're so nice
                                            </td>
                                            <td class="leftby-pr">
                                                ***Yen
                                            </td>
                                            <td class="product-pr">
                                                Apple iphone 11
                                            </td>
                                            <td class="date-pr">
                                                11/01/2020 18:20:00
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="rating-pr">
                                                4
                                            </td>
                                            <td class="feedback-pr">
                                                You're so nice
                                            </td>
                                            <td class="leftby-pr">
                                                ***Yen
                                            </td>
                                            <td class="product-pr">
                                                Apple iphone 11
                                            </td>
                                            <td class="date-pr">
                                                11/01/2020 18:20:00
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Wishlist -->
        </div>
    </div>
</section>
{{/section}}